* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    color: #4F5D6A;
}

/* HEADER STYLING */
header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

header h5 {
    font-size: 1em;
    font-weight: 200;
}

/* MAIN PAGE STYLING */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main h2 {
    font-weight: 200;
    font-size: 1.6em;
}

main h3 {
    font-size: 2.5em;  
}

main h4 {
    font-weight: 200;
}

main img {
    width: 300px;
    margin: 40px 0;
}

img.switch {
    width: 20px;
}

/* SWITCH */
.switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    width: 100px;
    height: 32px;
    padding: 5px;
    background-color: #32D74B;
    transition: background-color .2s;
    cursor: pointer;
}

.btn-toggle {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background-color: white;
    transition: transform .1s;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-toggle img {
    width: 16px;
    margin: 0;
}

.switch p {
    font-size: 10px;
    margin: 0 8px;
}


/* FOOTER STYLING */
footer {
    margin: 0 auto;
    position: relative;
    /* bottom: -24px; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
}

footer .lock-active {
    width: 36px;
    height: 36px;
}

/* TOGGLE BUTTON ANIMATRION */
.dark-theme .switch {
    background-color: #FE3A30;
}

.dark-theme .btn-toggle {
    transform: translateX(65px);
}