* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 32px 0;
    color: #4F5D6A;
}

header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

header h5 {
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}

header div {
    width: 50px;
}

main .portrait {
    display: block;
    margin: -24px auto 0;
    width: 100px;
}

main h3 {
    text-align: center;
    margin: 5px 0;
    font-weight: 100;
    font-size: 1.5em;
}

main .address {
    text-align: justify;
    margin: 16px 0;
}

main .name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}

main .password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

main .name-container .edit a,
main .password-container .change a {
    text-decoration: none;
    color: #47475A;
    font-size: 0.7em;
    padding: 8px 24px;
    background-color: #D7D7D7;
    border-radius: 20px;
}

main .dark-mode,
main .language {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .language {
    margin: 16px 0;
}

main .logout {
    text-align: center;
    display: block;
    width: 140px;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    padding: 8px 24px;
    border-radius: 30px;
    background: linear-gradient(#0097A7, #006D78);
}

/* SWITCH */
.switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 24px;
    padding: 3px;
    background-color: #606065;
    transition: background-color .2s;
    cursor: pointer;
}

.btn-toggle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    transition: transform .1s;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 24px;
    padding: 3px;
    background-color: #606065;
    transition: background-color .2s;
    cursor: pointer;
}

.btn-toggle1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    transition: transform .1s;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-toggle img {
    width: 16px;
    margin: 0;
}

.switch p {
    font-size: 10px;
    margin: 0 8px;
}

.dark-mode h4,
.language h4 {
    font-weight: 100;
}

/* FOOTER STYLING */
footer {
    margin: 0 auto;
    position: relative;
    /* bottom: -24px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
}


/* TOGGLE BUTTON ANIMATRION */
.dark-theme {
    background-image: repeating-linear-gradient(#48485B, #32323C);
    color: white;
}

.dark-theme .switch {
    background-color: #32D74B;
}

.dark-theme .btn-toggle {
    transform: translateX(23px);
}

.dark-theme footer img {
   background-color: darkgray;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
}
