* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    color: #4F5D6A;
}

/* HEADER STYLING */
header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

header h5 {
    font-size: 1em;
    font-weight: 200;
}

/* MAIN PAGE STYLING */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

main h2 {
    font-weight: 200;
    font-size: 1.6em;
    text-align: center;
}

main h3 {
    font-size: 2.5em;  
}

main h4 {
    font-weight: 200;
}

main img {
    width: 240px;
    margin: 40px 0;
}

main a {
    text-decoration: none;
    color: #fff;
    background-color: #007AFF;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 0.8em;
}

img.switch {
    width: 20px;
}

/* FOOTER STYLING */
footer {
    margin: 0 auto;
    position: relative;
    /* bottom: -24px; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
}

footer .lock-active {
    width: 36px;
    height: 36px;
}